/* .jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
  }
  /* .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */

/* object-fit: cover;
    opacity:0.5; */
*/
/* 
  .jumbotron .container {
    z-index: 2;
    position: relative;
  }

.container {
    position: relative;
    text-align: center; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .previousPost { 
      width: 500px; 
      height: 300px; 
      border: 1px solid #999999; 
      padding: 5px; }
  */

/* NAVBAR STYLING */

li {
  text-decoration: none;
  color: white;
}

img {
  height: 35px;
  width: 35px;
}

.nav-item,
.nav-item a {
  padding: 5px 10%;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-right: 1545px;
  font-weight: 300;
}

/* STORY STYLING */

.story-gallery {
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.story {
  flex-basis: 7%;
  padding-top: 13%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.story img {
  position: absolute;
  width: 40px;
  height: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 3px solid white ;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.jpeg);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.jpeg);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.jpeg);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.jpeg);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.jpeg);
}

.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
  border: 1px white solid;
  width: 35px;
}
